PROJECT_NAME=pharm-app
BACKEND_PORT=3000
FRONTEND_PORT=5173
POSTGRES_PORT=5432
MAILHOG_PORT=8025

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=pharmdb
DATABASE_URL=postgresql://user:password@localhost:5432/pharmdb

